.register-box{
    width: 400px;
    height: 550;
    // border: 2px solid black;
    margin: 10px 350px;
    padding: 10px;
    .register{
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
        height: 500px;
        border-radius: 10px;
        background-color: aliceblue;
        // border: 2px solid black;
        h1{
            text-align: center;
            letter-spacing: 10px;
            margin: 20px;            
        }
        .MuiInputBase-root{
            margin-bottom: 20px;
            font-size: 20px;           
        }
        button{
            font-size: 20px;
            height: 50px;
            color: white;
            &:hover{
                font-weight: 600;
            }
        }
        
    }
}